@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header, section, footer { padding: 3rem 12rem; }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue {
    background-color: #1f2937;
    color: #f9faf9;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    font-size: 14px;
}

button {
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    border: 0;
    text-decoration-style: none;
    flex-shrink: 0;
}

.hero {
    display: flex;
    padding-bottom: 4rem;
}

.hero-text { width: 26em; }

.hero h1 {
    font-weight: bolder;
    font-size: 48px;
}

.hero p {
    font-size: 16px;
    color: #c1c1c1;
}

.hero-img {
    width: 500px;
    height: 200px;
    background-color: #74808a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-button {
    color: white;
    background-color: #3882f6;
    margin-top: 12px;
}

.info { padding-bottom: 7rem; }

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.info h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.info-img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.img-sub {
    max-width: 150px;
    text-align: center;
    font-size: 16px;
    color: #868d93;
    margin-top: 1rem;
}

.info p { margin-top: 1rem; }

.quote { 
    background-color: #e5e7e5;
}

.quote-box {
    max-width: 49rem;
    padding: 5rem;
}

.quote p {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.author {
    width: 95%;
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}

.end-container {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: white;
    width: 100%;
    padding: 2rem 1rem;
    border-radius: 5px;
    font-size: 14px;
}

.foot-button {
    border: 2px solid white;
    background-color: #3882f6;
    color: white;
}
